{% extends "base.html" %}
{% block content %}
<title>登录|鱼伴</title>
<div class="mdui-row">
  <div class="mdui-col-xs-6 mdui-col-sm-4"></div>
  <div class="mdui-col-xs-6 mdui-col-sm-4">
      <div class="mdui-card">
          <div class="mdui-card-content">


<form method="post" action="{% url 'web:login' %}"class="form">
    <div class="mdui-textfield">
  <label class="mdui-textfield-label">UserName</label>
  <input class="mdui-textfield-input" id="username" name="username" type="text"/>

</div>
              <div class="mdui-textfield">
  <label class="mdui-textfield-label">Password</label>
  <input class="mdui-textfield-input" id="password" name="password" type="password"/>
              <div class="mdui-textfield-error">用户名或密码错误</div>
                  {% if error is not null %}
                  <div class="mdui-textfield-error">用户名或密码错误</div>
                  {% endif %}
</div>
    {% csrf_token %}
    <button name="submit" class="mdui-btn mdui-color-pink-accent mdui-ripple">登录</button>
    <a  href="{% url "web:register" %}" class="mdui-btn mdui-ripple ">注册</a>
</form>



          </div>
  <div class="mdui-card-actions">




  </div>
</div>


  </div>
  <div class="mdui-col-xs-6 mdui-col-sm-4"></div>
</div>
{% endblock content %}